# Ignore databases
#
# Ignore .idea folder
.idea/
.idea/*

# Ignore __pycache__
*/__pycache__/
*/__pycache__/*
/__pycache__/*
.pyc
calificaciones/migrations/__pycache__/__init__.cpython-37.pyc
calificaciones/migrations/__pycache__/0001_initial.cpython-37.pyc
intereses/migrations/__pycache__/__init__.cpython-37.pyc
intereses/migrations/__pycache__/0001_initial.cpython-37.pyc
landing/migrations/__pycache__/__init__.cpython-37.pyc
landing/migrations/__pycache__/0001_initial.cpython-37.pyc
postulacion/migrations/__pycache__/__init__.cpython-37.pyc
postulacion/migrations/__pycache__/0001_initial.cpython-37.pyc
usuarios/migrations/__pycache__/__init__.cpython-37.pyc
usuarios/migrations/__pycache__/0001_initial.cpython-37.pyc
usuarios/migrations/__pycache__/0002_auto_20200413_0254.cpython-37.pyc
usuarios/migrations/__pycache__/0003_auto_20200413_0200.cpython-37.pyc
voluntariados/migrations/__pycache__/__init__.cpython-37.pyc
voluntariados/migrations/__pycache__/0001_initial.cpython-37.pyc
usuarios/migrations/0003_auto_20200413_0200.py
usuarios/migrations/0002_auto_20200413_0254.py
usuarios/migrations/0003_auto_20200413_0200.py
voluntariados/logic_voluntariado/__pycache__/logic_voluntariado.cpython-37.pyc
