            {% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <html>
    <head>
        <title>Voluntariados</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        {% load static %}
        <link rel="icon" href="{% static "/images/logoBeONG.png" %}" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
        <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

        <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}">

        <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

        <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

        <link rel="stylesheet" href="{% static "css/aos.css" %}">

        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <style>
            .parallax {
              /* The image used */
              /* background-image: url("img_parallax.jpg"); */
            
              /* Set a specific height */
              min-height: 300px; 
            
              /* Create the parallax scrolling effect */
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            </style>
    </head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        <div class="site-wrap">

            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>
        
        
            <header class="site-navbar py-4 site-navbar-target" role="banner">
        
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                        <div class="site-logo mr-auto w-25"><a href="index.html">BeONG</a></div>
        
                        <div class="mx-auto text-center">
                            <nav class="site-navigation position-relative text-right" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                                    <li><a href="#home-section" class="nav-link">Inicio</a></li>
                                    <li><a href="#wedo-section" class="nav-link">¿Qué hacemos?</a></li>
                                    <li><a href="#doyouknow-section" class="nav-link">¿Sabías qué?</a></li>
                                    <li><a href="#act-section" class="nav-link">Actúa</a></li>
                                    <li><a href="/acerca" class="nav-link">Acerca de</a></li>
                                </ul>
                            </nav>
                        </div>
        
                        <div class="ml-auto w-25">
                            <nav class="site-navigation position-relative text-right" role="navigation">
                                <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                    <li class="cta"><a href="#" class="nav-link"><span>Inscríbete</span></a>
                                    </li>
                                </ul>
                            </nav>
                            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                                    class="icon-menu h3"></span></a>
                        </div>
                    </div>
                </div>
        
            </header> -->
        
            <div class="vol-section" id="home-section">

                <style>
                    .parallax {
                      /* The image used */
                      /* background-image: url("img_parallax.jpg"); */
                    
                      /* Set a specific height */
                      min-height: 300px; 
                    
                      /* Create the parallax scrolling effect */
                      background-attachment: fixed;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                    }
                    </style>
        
                <div class="slide-1 parallax" style="background-image: url('{% static 'images/volunteers.webp' %}');">
                     <div class="container" style="height: auto;">
                        <div class="row align-items-center">
                            <div class="col-12">
                                {% if latest_volunteers %}
                                <div class="row row-cols-1 row-cols-md-3" style="padding-top: 7rem; ">
                                    {% for i in latest_volunteers %}<div class="col-sm-4 mb-4">
                                        <div data-aos="fade-up" class="card">
                                            <img src={{i.imagen}} class="card-img-top" alt={{i.nombre}}>
                                            <div class="card-body">
                                              <h5 class="card-title text-primary">{{i.nombre}}</h5>
                                              <p class="card-text text-secondary"   >{{i.descripcion}}</p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                              <li class="list-group-item">{{i.area}}</li>
                                              <li class="list-group-item">{{i.duracion}}</li>
                                              <li class="list-group-item">{{i.lugar}}</li>
                                              <li class="list-group-item">{% static 'images/volunteers.webp' %}</li>
                                            </ul>
                                            <div class="card-body">
                                              <a href="#" class="card-link">Aplicar</a>
                                              <a href="#" class="card-link">Guardar</a>
                                            </div>
                                          </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div>
                                    <h2>
                                        No hay voluntariados :(.
                                    </h2>
                                </div>
                                {% endif %}
                                <!-- <div class="row align-items-center">
                                    <div class="col-lg-6 mb-4">
                                        <h1 data-aos="fade-up" data-aos-delay="100">Conectamos voluntarios con ONGs y
                                            fundaciones</h1>
                                        <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Sé parte del cambio
                                            <br>
                                            ¡El mundo te necesita! Encuentra cómo puedes ayudar</p>
                                        <p data-aos="fade-up" data-aos-delay="300"><a href="#wedo-section"
                                                                                      class="btn btn-primary py-3 px-5 btn-pill">Conoce
                                            más</a></p>
        
                                    </div>
        
                                    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                        <form action="" method="post" class="form-box">
                                            <h3 class="h4 text-black mb-4">Déjanos tu correo para informarte</h3>
                                            <div class="input-group">
                                                <input id="emailInput" type="text" class="form-control"
                                                       placeholder="Ingresa tu correo"
                                                       aria-label="emailInput"
                                                       aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-info" type="button" onclick="subscribe()">
                                                        Inscríbeme
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
        
                                    </div>
                                </div> -->
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}
        
            <script>
                function subscribe() {
                    var email = document.getElementById("emailInput").value;
                    var parts = email.split("@");
                    if (parts.length == 2 && parts[1].split(".").length >= 2) {
                        //Code to save mail
                        const Http = new XMLHttpRequest();
                        const url = 'http://beong.me/add';
                        console.log(url);
                        Http.open("POST", url);
                        Http.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                        Http.send(JSON.stringify({
                            "email": email
                        }));
        
                        Http.onreadystatechange = (e) => {
                            if (Http.responseText == "OK") {
                                alert("Registrado exitosamente. ¡Gracias!");
                            } else if (this.status != "") {
                                alert(Http.responseText);
                            }
                        }
        
                        document.getElementById("emailInput").value = "";
                    } else {
                        alert("El email no es correcto. Por favor revisa.");
                    }
                }
        
                function subscribe2() {
                    var email = document.getElementById("emailInput2").value;
                    var parts = email.split("@");
                    if (parts.length == 2 && parts[1].split(".").length >= 2) {
                        //Code to save mail
                        const Http = new XMLHttpRequest();
                        const url = 'http://beong.me/add';
                        console.log(url);
                        Http.open("POST", url);
                        Http.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                        Http.send(JSON.stringify({
                            "email": email
                        }));
        
                        Http.onreadystatechange = (e) => {
                            if (Http.responseText == "OK") {
                                alert("Registrado exitosamente. ¡Gracias!");
                            } else if (this.status != "") {
                                alert(Http.responseText);
                            }
                        }
        
                        document.getElementById("emailInput").value = "";
                    } else {
                        alert("El email no es correcto. Por favor revisa.");
                    }
                }
        
                function openPage() {
                    window.open("https://xd.adobe.com/view/22ce8d00-570f-4b98-74b5-c7353c9d6034-54ff/?fullscreen&hints=off")
                }
            </script>
        
        
        </div> <!-- .site-wrap -->
        
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/jquery.stellar.min.js" %}"></script>
<script src="{% static "js/jquery.countdown.min.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "js/aos.js" %}"></script>
<script src="{% static "js/jquery.fancybox.min.js" %}"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>


<script src="{% static "js/main.js" %}"></script>

    </body>
</html>