
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="styles.css">
    <div class="intro-section" id="home-section">
        <div class="slide-1" style="background-image: url('{% static 'images/volunteers.webp' %}');"
             data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                <h1 data-aos="fade-up" data-aos-delay="100" id="BETHECHANGE">#BeTheChange</h1>
                                <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Sé parte del cambio
                                    <br>
                                    ¡El mundo te necesita! Encuentra cómo puedes ayudar</p>
                                <p data-aos="fade-up" data-aos-delay="300"><a href="#wedo-section"
                                                                              class="btn btn-primary py-3 px-5 btn-pill">Conoce
                                    más</a></p>

                            </div>

                            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                <form action="" method="post" class="form-box">
                                    <h3 class="h4 text-black mb-4">Déjanos tu correo para informarte</h3>
                                    <div class="input-group">
                                        <input id="emailInput" type="text" class="form-control"
                                               placeholder="Ingresa tu correo"
                                               aria-label="emailInput"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info" type="button" onclick="subscribe()">
                                                Inscríbeme
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}