
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="site-section courses-title" id="wedo-section">
    <div class="container-fluid">
        <h2><span class="badge badge-pill badge-light"data-aos="fade-up" data-aos-delay="">LO QUE HACEMOS</span></h2>
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                <h2 class="section-title">Nosotros conectamos personas interesadas en cambiar el mundo mediante voluntariados con programas de voluntariado.</h2>
                <p class="h3 text-white mb-4">Algunas recomendaciones y beneficios al hacer tu voluntariado</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}