{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="intro-section" id="home-section">
        <div class="slide-1" style="background-image: url('{% static 'images/manos1.jpg' %}');"
             data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb- form-box">
                                <h1 data-aos="fade-up" data-aos-delay="100" class="text-black">Conectamos voluntarios
                                    con ONGs y fundaciones</h1>
                                <p class="mb-4 text-black" data-aos="fade-up" data-aos-delay="200">Sé parte del cambio
                                    <br>
                                    ¡El mundo te necesita! Encuentra cómo puedes ayudar</p>
                                <p data-aos="fade-up" data-aos-delay="300"><a href="#wedo-section"
                                                                              class="btn btn-primary py-3 px-5 btn-pill">Conoce
                                    más</a></p>
                            </div>

                            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                <p id="_BeTheChange">
                                    #BE
                                    <br>
                                    THE
                                    <br>
                                    CHANGE
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="site-section courses-title" id="wedo-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">¿Qué hacemos?</h2>
                </div>
            </div>
            <div class="row mb-5 justify-content-center">
                <iframe width="900" height="506" src="https://www.youtube.com/embed/EKEuowYbXRM" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen data-aos="fade-up" data-aos-delay=""></iframe>
            </div>

        </div>
    </div>


    <!--
    <div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">

                <div class="owl-carousel col-12 nonloop-block-14">

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{% static "images/img_1.jpg" %}" alt="Image"
                                                              class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">Kegalle, Sri Lanka</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Semanas</div>
                            <h3><a href="#">Voluntariado comunitario y de elefantes</a></h3>
                            <p>Los voluntarios trabajarán en Kegalle cuidando a los elefantes abandonados y participando
                                en otros proyectos... </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 5 Cupos</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{% static "images/img_2.jpg" %}" alt="Image"
                                                              class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">Cali, Colombia</span>
                            <div class="meta"><span class="icon-clock-o"></span>1 Semana</div>
                            <h3><a href="#">Proyectos de voluntariado infantil</a></h3>
                            <p>Sea voluntario para el Programa Especial de 1 semana en Cali con soluciones de
                                voluntariado y... </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 15 Cupos</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 0</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="{% static "images/img_3.jpg" %}" alt="Image"
                                                              class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">Bogotá, Colombia</span>
                            <div class="meta"><span class="icon-clock-o"></span>1 Mes</div>
                            <h3><a href="#">Adulto Mayor (Manualidades)</a></h3>
                            <p>Ayuda a las abuelitas a despertar la creatividad y trabajar su motricidad haciendo
                                llaveros de porcelanicron... </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 6 Cupos</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 4</div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    <button class="customPrevBtn btn btn-primary m-1">Anterior</button>
                    <button class="customNextBtn btn btn-primary m-1">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="site-section" id="doyouknow-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">¿Sabías qué?</h2>
                    <p>La falta de voluntarios es un problema, aquí unos datos curiosos:</p>
                </div>
            </div>
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "images/ongs.jpg" %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">+10 Millones</h2>
                    <p class="mb-4">Organizaciones no gubernamentales (ONG) en el mundo.</p>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "images/vountarios.jpg" %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">+140 Millones</h2>
                    <p class="mb-4">Voluntarios en el mundo.</p>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "images/1_3.jpg" %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">1 De cada 3</h2>
                    <p class="mb-4">Colombianos ha participado en voluntariados.</p>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "images/women.png" %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="text-black mb-4">67%</h2>
                    <p class="mb-4">De los colombianos que hacen voluntariado son mujeres.</p>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="site-section" id="teachers-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">Actúa</h2>
                    <p class="mb-5">Muchas fundaciones y personas han hecho parte de BeONG y han sido el cambio. Lee
                        algunas de sus historias con nosotros</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="teacher text-center">
                        <img src="{% static "images/person_1.jpg" %}" alt="Image"
                             class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Benjamin Perez</h3>
                            <p class="position">Voluntario</p>
                            <p>Hacer parte de BeONG me abrió muchas puertas a nuevas experiencias y nuevas personas de
                                las que aprendí cosas bastante útiles en todos los aspectos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="teacher text-center">
                        <img src="{% static "images/person_4.jpg" %}" alt="Image"
                             class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Andrés Abondano</h3>
                            <p class="position">Voluntario</p>
                            <p>Hasta ahora solo he hecho un voluntariado en otro país gracias a BeONG, la experiencia
                                fue única y espero poder hacer más.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="teacher text-center">
                        <img src="{% static "images/person_3.jpg" %}" alt="Image"
                             class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">Sofia Peña</h3>
                            <p class="position">Voluntaria</p>
                            <p>Entré con un poco de escecpticismo respecto a encontrar mi voluntariado ideal. Sin
                                embargo
                                en BeONG encontré bastantes voluntariados en áreas que me gustan, ya he hecho tres y
                                cada vez
                                encuentro más.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!--<div class="site-section bg-image overlay" style="background-image: url('{% static  'images/hero_1.jpg' %}');">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center testimony">
                    <img src="{% static "images/person_2.jpg" %}" alt="Image"
                         class="img-fluid w-25 mb-4 rounded-circle">
                    <h3 class="mb-4">Alba Pérez</h3>
                    <p class="position">Representante Fundación Por un Nuevo Mañana, Bogotá</p>
                    <blockquote>
                        <p>&ldquo; Soy la representante de una fundación que contaba con distintos proyectos pero sin
                            voluntarios para llevarlos a cabo. Gracias a BeONG ahora sucede lo contrario &rdquo;</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div> -->

    <div class="site-section pb-0" id="act-section">

        <div class="future-blobs">
            <div class="blob_2">
                <img src="{% static "images/blob_2.svg" %}" alt="Image">
            </div>
            <div class="blob_1">
                <img src="{% static "images/blob_1.svg" %}" alt="Image">
            </div>
        </div>
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
                <div class="col-lg-7 text-center">
                    <h2 class="section-title">Actúa</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto align-self-start" data-aos="fade-up" data-aos-delay="100">

                    <div class="p-4 rounded bg-white why-choose-us-box">

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span
                                    class="icon icon-search"></span></span></div>
                            <div><h3 class="m-0">Encuentra</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span
                                    class="icon icon-touch_app"></span></span></div>
                            <div><h3 class="m-0">Aplica</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span
                                    class="icon icon-people"></span></span></div>
                            <div><h3 class="m-0">Comparte</h3></div>
                        </div>

                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3"><span class="custom-icon-inner"><span
                                    class="icon icon-globe"></span></span></div>
                            <div><h3 class="m-0">Date a conocer</h3></div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-7 align-self-end" data-aos="fade-left" data-aos-delay="200">
                    <img src="{% static "images/voluntarios.jpg" %}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<script>
    function subscribe() {
        var email = document.getElementById("emailInput").value;
        var parts = email.split("@");
        if (parts.length == 2 && parts[1].split(".").length >= 2) {
            //Code to save mail
            const Http = new XMLHttpRequest();
            const url = 'http://beong.me/add';
            console.log(url);
            Http.open("POST", url);
            Http.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            Http.send(JSON.stringify({
                "email": email
            }));

            Http.onreadystatechange = (e) => {
                if (Http.responseText == "OK") {
                    alert("Registrado exitosamente. ¡Gracias!");
                } else if (this.status != "") {
                    alert(Http.responseText);
                }
            }

            document.getElementById("emailInput").value = "";
        } else {
            alert("El email no es correcto. Por favor revisa.");
        }
    }

    function subscribe2() {
        var email = document.getElementById("emailInput2").value;
        var parts = email.split("@");
        if (parts.length == 2 && parts[1].split(".").length >= 2) {
            //Code to save mail
            const Http = new XMLHttpRequest();
            const url = 'http://beong.me/add';
            console.log(url);
            Http.open("POST", url);
            Http.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            Http.send(JSON.stringify({
                "email": email
            }));

            Http.onreadystatechange = (e) => {
                if (Http.responseText == "OK") {
                    alert("Registrado exitosamente. ¡Gracias!");
                } else if (this.status != "") {
                    alert(Http.responseText);
                }
            }

            document.getElementById("emailInput").value = "";
        } else {
            alert("El email no es correcto. Por favor revisa.");
        }
    }

    function openPage() {
        window.open("https://xd.adobe.com/view/22ce8d00-570f-4b98-74b5-c7353c9d6034-54ff/?fullscreen&hints=off")
    }
</script>


</div> <!-- .site-wrap -->

<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/jquery.stellar.min.js" %}"></script>
<script src="{% static "js/jquery.countdown.min.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "js/aos.js" %}"></script>
<script src="{% static "js/jquery.fancybox.min.js" %}"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>


<script src="{% static "js/main.js" %}"></script>

</body>
</html>